// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2025 chargebyte GmbH
 */

/dts-v1/;

#include "imx93-charge-control-y.dts"

&{/} {
	model = "chargebyte Charge Control Y V0R4";
};

&iomuxc {
	pinctrl_lpspi6: lpspi6grp {
		/* drive strength: X2, slew rate: fast, no pull */
		fsl,pins = <
			MX93_PAD_GPIO_IO07__GPIO2_IO07		0x186 // X_LAN_nINT0
			MX93_PAD_GPIO_IO00__GPIO2_IO00		0x186 // X_LAN_nCS0
			MX93_PAD_GPIO_IO01__LPSPI6_SIN		0x186 // X_LAN_MISO
			MX93_PAD_GPIO_IO02__LPSPI6_SOUT		0x186 // X_LAN_MOSI
			MX93_PAD_GPIO_IO03__LPSPI6_SCK		0x186 // X_LAN_SCK
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX93_PAD_UART2_RXD__LPUART2_RX		0x31e // drive strength: X4, slew rate: slightly fast, pull up
			MX93_PAD_UART2_TXD__LPUART2_TX		0x30e // drive strength: X3, slew rate: slightly fast, pull up
		>;
	};	
};

/delete-node/ &lan8651;

&ethphy2 {
	reset-gpios = <&gpio4 13 GPIO_ACTIVE_LOW>;
};

&led_user_green {
	gpios = <&gpio2 11 GPIO_ACTIVE_HIGH>;
};

&led_user_red {
	gpios = <&gpio2 24 GPIO_ACTIVE_HIGH>;
};

&lpspi3 {
	status = "disabled";	
};

&lpspi6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi6>;
	num-cs = <1>;
	cs-gpios = <&gpio2 00 GPIO_ACTIVE_LOW>;
	status = "okay";

	lan8651: ethernet@0 {
		compatible = "microchip,lan8651", "microchip,lan8650";
		reg = <0>;
		interrupt-parent = <&gpio2>;
		interrupts = <7 IRQ_TYPE_EDGE_FALLING>;
		spi-max-frequency = <25000000>;

		nvmem-cells = <&eth2_mac_address 0>;
		nvmem-cell-names = "mac-address";
	};
};

/* Safety Controller */
&lpuart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&lpuart3 {
	status = "disabled";
};
