// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2025 chargebyte GmbH
 */

#include "imx93-charge-som-dc-evb.dts"

/ {
	model = "chargebyte Charge SOM test fixture";

	aliases {
		/delete-property/ rtc0;
		/delete-property/ rtc1;
	};
};

/delete-node/ &rv3028;

&flexcan1 {
	status = "disabled";
};

&gpio3 {
	/delete-node/ PCIe_NW_DISABLE;	// remove GPIO hog
};

&gpio4 {
	/delete-node/ PCIe_N_RESET;	// remote GPIO hog
};

&iomuxc {
	pinctrl_usdhc3_default: usdhc3grp {
		fsl,pins = <
			MX93_PAD_GPIO_IO22__USDHC3_CLK		0x179e
			MX93_PAD_SD3_CMD__USDHC3_CMD		0x4000139e
			MX93_PAD_SD3_DATA0__USDHC3_DATA0	0x4000138e
			MX93_PAD_SD3_DATA1__USDHC3_DATA1	0x4000138e
			MX93_PAD_SD3_DATA2__USDHC3_DATA2	0x4000138e
			MX93_PAD_SD3_DATA3__USDHC3_DATA3	0x4000139e
		>;
	};

	pinctrl_lpspi3: lpspi3grp {
		/* drive strength: X2, slew rate: fast, no pull */
		fsl,pins = <
			MX93_PAD_GPIO_IO08__GPIO2_IO08		0x186 // SPI_EXT_CS0
			MX93_PAD_GPIO_IO09__LPSPI3_SIN		0x186
			MX93_PAD_GPIO_IO10__LPSPI3_SOUT		0x186
			MX93_PAD_GPIO_IO11__LPSPI3_SCK		0x186
		>;
	};
};

&lpuart4 {
	status = "disabled";
};

&lpuart5 {
	status = "disabled";
};

&reg_can {
	status = "disabled";
};

&tpm5 {
	status = "disabled";
};

&lpi2c1 {
	eeprom@50 {
		compatible = "microchip,24c256";
		reg = <0x50>;
		pagesize = <64>;
	};
};

/* SD card 1: limited to 50 MHz due to long cable by omitting pin mode 100/200 MHz */
&usdhc2 {
	pinctrl-names = "default";
};

/* SD card 2: limited to 50 MHz due to long cable by omitting pin mode 100/200 MHz;
 * no Card Detect pin used here */
&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3_default>;
	bus-width = <4>;
	broken-cd;
	no-sdio;
	no-mmc;
	no-1-8-v;
	status = "okay";
};

&user_leds {
	status = "disabled";
};

&user_keys {
	status = "disabled";
};

&lpspi3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi3>;
	num-cs = <1>;
	cs-gpios = <&gpio2 8 GPIO_ACTIVE_LOW>;
	status = "okay";

	flash@0 {
		compatible = "winbond,w25q128", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <10000000>;
		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "testdata";
			reg = <0x0 0x100000>; // 1 MB
		};
	};
};
